.styles.conhec {
  width: 100%;
}
h3 {
  font-size: 2.5rem;
  font-family: sans-serif;
  margin: 1.5em;
  color: rgb(179, 72, 72);
}
.card {
  background-color: white;
  height: 360px;
  width: 335px;
  border: 2px solid rgb(102, 97, 97);
  border-radius: 1em;
  box-shadow: 1px 1px 1px 1px rgb(102, 97, 97);
  margin-bottom: 3em;
  padding: 20px 35px;
  text-align: center;
}
.card img {
  height: 100px;
}
.card h5 {
  color: rgb(179, 72, 72);
  font-size: 24px;
}
.card span {
  color: black;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card a {
  background-color: rgb(179, 72, 72);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 60px;
  transition: 0.5s;
}
.card a:hover {
  background-color: transparent;
  border: 2px solid rgb(179, 72, 72);
}
.projects-card {
  display: flex;
  justify-content: space-around;
}
