.stylesProjects{
    width: 100%;
}
.cardProjects{
    background-color: white;
    height: 360px;
    width: 335px;
    border: 2px solid rgb(102, 97, 97);
    border-radius: 1em;
    box-shadow: 1px 1px 1px 1px rgb(102, 97, 97);
    padding: 20px 35px;
    text-align: center;
}
.cardProjects img{
    height: 100px;
}