.intro-menu{
    color: rgb(179, 72, 72);
    margin-top: 8rem;
    width: 100%;
    height: 100%;
  }
  h2{
    font-size: 5vh;
    text-align: center;
    color:  rgb(179, 72, 72);
  }
  h1{
    font-size: 3em;
    text-align: center;
    color: black;
  }
  span{
    font-size: 5vh;
  }

