.styles.conhec{
   width: 100%;
}
h3{
    font-size: 2.5rem;
    font-family: sans-serif;
    margin: 1.5em;

}
.card{
    background-color: black;
    height: 360px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}
.card img{
    height: 100px;
}
.card h5{
    color: white;
}